button {
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    background: rgba(120, 120, 240,0.7);
    backdrop-filter: blur(5px);
    transition: background 0.3s ease;
    color: #fff;
  }
  
  button:hover {
    background: rgb(60, 60, 240);
  }
  
  input[type='file'] {
    display: none;
  }

 
  